:root {
  --title-text: #2e2f42;
  --subtitle: #434455;
  --primary-brand-pgup: #2e2f42;
  --primary-brand-pgdn: #f4f4fd;
  --background-body: #ffffff;
  --background-hero: #2e2f42;
  --background-hero-gradient: linear-gradient(
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)
  );
  --team-img-gap: 24px;
  --portfolio-img-gap: 24px;
  --portfolio-card-border: #e7e9fc;
  --footer-subtitle-color: #ffffff;
  --footer-text-color: #f4f4fd;
  --background-footer: #2e2f42;
  --portfolio-btn-text: #4d5ae5;
  --portfolio-background-btn: #f4f4fd;
  --portfolio-btn-text-hover: #ffffff;
  --portfolio-btn-background-hover: #404bbf;
  --transition-hover-focus: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --modal-close-black: #2e2f42;
  --modal-close-white: #ffffff;
  --modal-btn-bckg: #e7e9fc;
  --modal-btn-bckg-hover: #404bbf;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--subtitle);
  background-color: var(--background-body);
}

.container {
  width: 100%;
  height: 100%;
  padding: 0 15px;
}

@media screen and (min-width: 428px) {
  .container {
    width: 426px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
  }
}
.section {
  padding-top: 96px;
  padding-bottom: 96px;
}

@media screen and (min-width: 1158px) {
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.footer-logo {
  color: var(--primary-brand-pgdn);
}

.header-logo {
  color: var(--primary-brand-pgup);
  margin-right: 76px;
}

@media screen and (max-width: 767px) {
  .mobile-menu {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
    transition: opacity var(--transition-hover-focus), visibility var(--transition-hover-focus);
  }
  .mobile-menu-container {
    position: relative;
    padding: 24px 24px 40px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .mobile-menu-open {
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
    padding-right: 3px;
  }
  .mobile-menu-icon {
    stroke: #2e2e2e;
  }
  .mobile-close-btn {
    width: 24px;
    height: 24px;
    background-color: var(--modal-btn-bckg);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
  }
  .mobile-menu-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 32px;
  }
  .mobile-menu-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
  }
  .mobile-menu-link:is(:hover, :focus) {
    color: #404bbf;
  }
  .mobile-address-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .mobile-address-list .phone {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #434455;
  }
  .mobile-address-list .email {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
  }
  .mobile-address-link:is(:hover, :focus) {
    color: #4d5ae5;
  }
  .mobile-media-list {
    gap: 56px;
    margin-top: 48px;
    display: flex;
    justify-content: flex-start;
  }
}
@media screen and (max-width: 427px) {
  .mobile-address-list .phone {
    font-size: 26px;
  }
  .mobile-media-list {
    gap: 32px;
  }
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
.button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  border: none;
  cursor: pointer;
  background: #4d5ae5;
  display: block;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 16px 32px;
  margin: 0 auto;
  transition: background-color var(--transition-hover-focus);
}
.button:is(:hover, :focus) {
  background-color: #404bbf;
}

.section-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.section-suptitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 1158px) {
  .section-suptitle {
    font-size: 20px;
    line-height: 1.2;
  }
}
.section-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.soc-media-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.soc-media-item {
  width: 40px;
  height: 40px;
}

.soc-media-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color var(--transition-hover-focus);
}
.soc-media-link:hover {
  background-color: #404bbf;
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity var(--transition-hover-focus), visibility var(--transition-hover-focus);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.no-scroll {
  overflow: hidden;
}

.modal {
  position: absolute;
  width: 392px;
  min-height: 584px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1) rotate(0deg);
  transition: transform var(--transition-hover-focus);
  padding: 24px;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0) rotate(180deg);
}

.modal-close-btn {
  width: 24px;
  height: 24px;
  background-color: var(--modal-btn-bckg);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  transition: background-color var(--transition-hover-focus);
}
.modal-close-btn:is(:hover, :focus) {
  background-color: var(--modal-btn-bckg-hover);
}

.icon-close-btn {
  fill: var(--modal-close-black);
  transition: fill var(--transition-hover-focus);
}
.modal-close-btn:is(:hover, :focus) .icon-close-btn {
  fill: var(--modal-close-white);
}

.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-top: 24px;
  margin-bottom: 16px;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding-left: 38px;
  outline: none;
  /* margin-bottom: 8px; */
}
.modal-input:focus {
  border: 1px solid #4d5ae5;
}

.input-text {
  display: inline-block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}

.input-wrap {
  position: relative;
}

.input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
}
.modal-input:focus + .input-icon {
  fill: #4d5ae5;
}

.textarea {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding-top: 8px;
  padding-left: 16px;
  outline: transparent;
  resize: none;
}
.textarea::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.modal-btn-title {
  min-width: 169px;
  height: 57px;
  margin-top: 24px;
}

.checkbox-text {
  font-size: 12px;
  line-height: 1.17px;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: flex;
  align-items: center;
  margin-top: 16px;
}
.checkbox-text span {
  width: 16px;
  height: 16px;
  letter-spacing: 0.04em;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  margin-right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: transparent;
}
.input-check:checked + .checkbox-text span {
  background: #404bbf;
  fill: #f4f4fd;
}

@media screen and (max-width: 427px) {
  .modal {
    width: 290px;
  }
  .modal-title {
    font-size: 11px;
  }
  .checkbox-text {
    font-size: 8px;
  }
  .checkbox-text span {
    width: 13px;
    height: 13px;
  }
}
@media screen and (min-width: 678px) {
  .modal {
    width: 408px;
  }
}
.header {
  padding-top: 24px;
  padding-bottom: 22px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .header-list,
  .header-address {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .mobile-menu-open {
    display: none;
  }
  .header {
    padding-bottom: 16px;
    border-bottom: 1px solid #e7e9fc;
  }
  .navigation {
    display: flex;
  }
  .header-logo {
    margin-right: 120px;
  }
  .header-list {
    display: flex;
    gap: 40px;
  }
  .header-list-item {
    position: relative;
  }
  .active-page::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
    position: absolute;
    top: 48px;
  }
  .header-list-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--title-text);
    transition: color var(--transition-hover-focus);
  }
  .header-list-link:is(:hover, :focus) {
    color: #404bbf;
  }
  .address-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .address-link {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color var(--transition-hover-focus);
  }
  .address-link:is(:hover, :focus) {
    color: #404bbf;
  }
}
@media screen and (min-width: 1158px) {
  .header {
    padding-bottom: 24px;
  }
  .header-container {
    justify-content: flex-start;
  }
  .header-logo {
    margin-right: 76px;
  }
  .active-page::after {
    top: 45px;
  }
  .header-address {
    font-style: normal;
    display: flex;
    margin-left: auto;
  }
  .address-list {
    flex-direction: row;
    gap: 40px;
  }
  .address-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}
.hero {
  height: 432px;
  max-width: 428px;
  margin: 0 auto;
  background-color: var(--background-hero);
  background-image: var(--background-hero-gradient), url("/images/hero-bg-table.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 112px;
  padding-bottom: 112px;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: var(--background-hero-gradient), url("/images/hero-bg-table-2x.jpg");
  }
}
.main-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  color: #ffffff;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
}

@media screen and (max-width: 427px) {
  .main-title {
    font-size: 28px;
  }
  .hero {
    background-image: var(--background-hero-gradient), url(/images/hero-bg-mobile.jpg);
  }
}
@media screen and (max-width: 427px) and (min-device-pixel-ratio: 2), screen and (max-width: 427px) and (min-resolution: 192dpi), screen and (max-width: 427px) and (min-resolution: 2dppx) {
  .hero {
    background-image: var(--background-hero-gradient), url(/images/hero-bg-mobile-2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    height: 436px;
    max-width: 768px;
    background-image: var(--background-hero-gradient), url(/images/hero-bg-desktop.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: var(--background-hero-gradient), url(/images/hero-bg-desktop-2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .main-title {
    font-size: 56px;
    margin-bottom: 36px;
    max-width: 496px;
  }
}
@media screen and (min-width: 1158px) {
  .hero {
    height: 600px;
    max-width: 1400px;
    padding-top: 188px;
    padding-bottom: 188px;
  }
  .main-title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    margin-bottom: 48px;
  }
}
.principles-icon {
  display: none;
}

.principles-wrapper {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.principles-title {
  color: var(--title-text);
  text-align: center;
  margin-bottom: 8px;
}

.principles-description {
  color: var(--subtitle);
}

@media screen and (max-width: 427px) {
  .principles-description {
    font-size: 12px;
  }
}
@media screen and (min-width: 768px) {
  .principles-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 72px 24px;
  }
  .principles-item {
    max-width: 356px;
  }
  .principles-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: start;
  }
  .principles-description {
    align-items: flex-start;
  }
}
@media screen and (min-width: 1158px) {
  .principles-item {
    max-width: 264px;
  }
  .principles-icon-list {
    display: flex;
    gap: 24px;
  }
  .principles-icon {
    display: initial;
  }
  .principles-icon-items {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 264px;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
  }
  .principles-title {
    max-width: 264px;
    color: var(--title-text);
    margin: 8px 0;
  }
  .principles-description {
    color: var(--subtitle);
  }
}
.work {
  display: none;
}

@media screen and (min-width: 1158px) {
  .work {
    display: block;
    padding-top: 0;
  }
  .work-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 24px 24px;
  }
  .work-list-item {
    flex-basis: calc((100% - 48px) / 3);
  }
  .work-title {
    color: var(--title-text);
  }
}
.team {
  background-color: #f4f4fd;
}

.team-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 72px;
}

.team-list-item {
  background-color: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-main-title {
  color: var(--title-text);
}

.team-title {
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  color: var(--title-text);
}

.team-position {
  text-align: center;
  color: var(--subtitle);
  margin-top: 8px;
  margin-bottom: 8px;
}

.img-content {
  padding: 32px 16px;
}

@media screen and (min-width: 768px) {
  .team-container {
    max-width: 582px;
  }
  .team-wrapper {
    gap: 64px 24px;
  }
  .team-list-item {
    flex-basis: calc((100% - 24px) / 2);
  }
}
@media screen and (min-width: 1158px) {
  .team-container {
    max-width: 1158px;
  }
  .team-wrapper .team-list-item {
    flex-basis: calc((100% - 72px) / 4);
  }
}
.customers-title {
  color: var(--title-text);
}

.customers-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 72px 16px;
}

.costomers-item {
  flex-basis: calc((100% - 16px) / 2);
}

.customers-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  min-width: 190px;
  height: 88px;
  color: #8e8f99;
  transition: color var(--transition-hover-focus), border var(--transition-hover-focus);
}
.customers-link:is(:hover, :focus) {
  border: 1px solid #404bbf;
  color: #404bbf;
}

.customer-logo-icon {
  fill: currentColor;
}

@media screen and (max-width: 427px) {
  .customers-link {
    min-width: 138px;
  }
  .customers-list {
    gap: 72px 14px;
  }
}
@media screen and (min-width: 678px) {
  .customers-list {
    gap: 72px 24px;
  }
  .costomers-item {
    flex-basis: calc((100% - 48px) / 3);
  }
  .customers-link {
    min-width: 168px;
  }
}
@media screen and (min-width: 1158px) {
  .customers-list {
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 24px;
  }
}
.footer {
  background-color: var(--background-footer);
  padding-top: 96px;
  padding-bottom: 96px;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-suptitle {
  color: var(--footer-subtitle-color);
  max-width: 208px;
  margin-bottom: 16px;
}

.logo-footer-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 268px;
  margin-bottom: 72px;
}

.footer-text {
  color: var(--footer-text-color);
  min-width: 268px;
  margin-top: 16px;
}

.footer-soc-media {
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-width: 208px;
  align-items: center;
  margin-bottom: 72px;
}

.footer-media-list {
  gap: 16px;
}

.footer-link:hover {
  background-color: #31d0aa;
}

.subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.subscribe-subtitle {
  color: #ffffff;
}

.subscribe-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  position: relative;
}

.subscribe-input {
  min-width: 398px;
  height: 40px;
  border: 1px solid #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: transparent;
  outline: none;
  padding: 8px 16px;
  color: #ffffff;
}
.subscribe-input::placeholder {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.subscribe-btn {
  min-width: 165px;
  height: 40px;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 8px 16px;
  transition: background-color var(--transition-hover-focus);
}
.subscribe-btn:is(:hover, :focus) {
  background-color: #404bbf;
}
.subscribe-btn span {
  fill: #ffffff;
}

.icon-subscribe-btn {
  position: absolute;
  right: auto;
  bottom: 50%;
  transform: translateY(198%);
}

@media screen and (max-width: 427px) {
  .footer-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .subscribe-input {
    min-width: 290px;
  }
  .icon-subscribe-btn {
    transform: translateY(165%);
  }
}
@media screen and (min-width: 678px) {
  .footer-wrapper {
    display: block;
  }
  .logo-footer-desc {
    margin-bottom: initial;
  }
  .footer-inner {
    display: flex;
    flex-direction: row;
    padding-left: 108px;
    gap: 24px;
    margin-bottom: 72px;
  }
  .logo-footer-desc {
    align-items: flex-start;
  }
  .footer-soc-media {
    align-items: flex-start;
    margin-bottom: initial;
  }
  .subscribe {
    align-items: flex-start;
    padding-left: 108px;
  }
  .subscribe-form {
    flex-direction: row;
    gap: 24px;
  }
  .subscribe-input {
    min-width: 264px;
  }
  .icon-subscribe-btn {
    transform: translateY(50%);
  }
}
@media screen and (min-width: 1158px) {
  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .footer-wrapper {
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }
  .footer-inner {
    padding-left: initial;
    gap: initial;
    margin-bottom: initial;
  }
  .footer-suptitle {
    margin-bottom: initial;
  }
  .logo-footer-desc {
    flex-direction: column;
    min-width: 264px;
  }
  .footer-text {
    min-width: 264px;
    margin-top: 11px;
  }
  .footer-soc-media {
    margin-left: 120px;
  }
  .footer-media-list {
    gap: 16px;
  }
  .footer-link:hover {
    background-color: #31d0aa;
  }
  .subscribe {
    margin-left: 80px;
    padding-left: initial;
  }
  .subscribe-input {
    min-width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background: transparent;
    outline: none;
    padding: 8px 16px;
    color: #ffffff;
  }
  .subscribe-input::placeholder {
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #ffffff;
  }
  .subscribe-btn {
    min-width: 165px;
    height: 40px;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 8px 24px;
    transition: background-color var(--transition-hover-focus);
  }
  .subscribe-btn:is(:hover, :focus) {
    background-color: #404bbf;
  }
  .subscribe-btn span {
    fill: #ffffff;
  }
  .icon-subscribe-btn {
    position: absolute;
    right: auto;
    bottom: 50%;
    transform: translateY(50%);
  }
}
.portfolio-hero {
  padding-top: 48px;
  padding-bottom: 48px;
}

.portfolio-hero-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 72px;
  gap: 16px 24px;
}

.hero-portfolio-btn {
  font-family: inherit;
  width: 100%;
  height: 100%;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  letter-spacing: 0.04em;
  color: var(--portfolio-btn-text);
  background-color: var(--portfolio-background-btn);
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  transition: color var(--transition-hover-focus), background-color var(--transition-hover-focus), box-shadow var(--transition-hover-focus);
}
.hero-portfolio-btn:is(:hover, :focus) {
  color: var(--portfolio-btn-text-hover);
  background-color: var(--portfolio-btn-background-hover);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
}

.portfolio-list-item {
  min-width: 396px;
}

.portfolio-list-link {
  transition: box-shadow var(--transition-hover-focus);
}
.portfolio-list-link:is(:hover, :focus) {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-list-link:is(:hover, :focus) .portfolio-cover-text {
  transform: translate(0);
}

.portfolio-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-text);
}

.portfolio-description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--subtitle);
  margin-top: 8px;
}

.img-description {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  border: 1px solid var(--portfolio-card-border);
  border-top: none;
}

.portfolio-img {
  position: relative;
  overflow: hidden;
}

.portfolio-cover-text {
  position: absolute;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background-color: #4d5ae5;
  padding-top: 40px;
  padding-right: 32px;
  padding-left: 32px;
  height: 100%;
  top: 0;
  transform: translateY(100%);
  transition: transform var(--transition-hover-focus);
}/*# sourceMappingURL=main.css.map */