.no-scroll {
  overflow: hidden;
}

/*===========================COMPONENTS================== */

/*======================= HEADER ======================*/

/*=============================== HERO ====================*/

/* =====================PRINCIPLES OF WORKS ===================== */

/*========================= WORK================= */

/* ==========================TEAM============================ */

/*====================CUSTOMERS==================== */

/* ======================FOOTER=========================== */

/*=========================== PORTFOLIO================================= */

/*==========================MODAL-BUTTON=========================*/

/* .modal-input:not(:placeholder-shown):not(:focus):valid {
  border: 2px solid rgba(54, 211, 6, 0.4);
  border-radius: 4px;
  background-color: rgba(54, 211, 6, 0.4);
}

.modal-input:not(:placeholder-shown):not(:focus):invalid {
  border: 2px solid rgba(247, 9, 9, 0.4);
  border-radius: 4px;
  background-color: rgba(247, 9, 9, 0.4);
} */

/* .checkbox-text-link {
  margin-left: 4px;
} */

/* .checkbox-text::before {
  content: "";
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  margin-right: 8px;
  } */

/* .input-check:checked + .checkbox-text::before {
  background: #404bbf;
  background-image: url(/images/Vector.svg);
  background-position: center;
  background-repeat: no-repeat;
} */
