.footer {
  background-color: var(--background-footer);
  padding-top: 96px;
  padding-bottom: 96px;
}
.footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-suptitle {
  color: var(--footer-subtitle-color);
  max-width: 208px;
  margin-bottom: 16px;
}
.logo-footer-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 268px;
  margin-bottom: 72px;
}

.footer-text {
  color: var(--footer-text-color);
  min-width: 268px;
  margin-top: 16px;
}

.footer-soc-media {
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-width: 208px;
  align-items: center;
  margin-bottom: 72px;
}
.footer-media-list {
  gap: 16px;
}

.footer-link:hover {
  background-color: #31d0aa;
}

.subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.subscribe-subtitle {
  color: #ffffff;
}
.subscribe-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  position: relative;
}

.subscribe-input {
  min-width: 398px;
  height: 40px;
  border: 1px solid #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: transparent;
  outline: none;
  padding: 8px 16px;
  color: #ffffff;

  &::placeholder {
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #ffffff;
  }
}

.subscribe-btn {
  min-width: 165px;
  height: 40px;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 8px 16px;
  transition: background-color var(--transition-hover-focus);

  &:is(:hover, :focus) {
    background-color: #404bbf;
  }

  & span {
    fill: #ffffff;
  }
}

.icon-subscribe-btn {
  position: absolute;
  right: auto;
  bottom: 50%;
  transform: translateY(198%);
}

@media screen and (max-width: 427px) {
  .footer-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .subscribe-input {
    min-width: 290px;
  }
  .icon-subscribe-btn {
    transform: translateY(165%);
  }
}

@media screen and (min-width: 678px) {
  .footer-wrapper {
    display: block;
  }

  .logo-footer-desc {
    margin-bottom: initial;
  }
  .footer-inner {
    display: flex;
    flex-direction: row;
    padding-left: 108px;
    gap: 24px;
    margin-bottom: 72px;
  }

  .logo-footer-desc {
    align-items: flex-start;
  }

  .footer-soc-media {
    align-items: flex-start;
    margin-bottom: initial;
  }

  .subscribe {
    align-items: flex-start;
    padding-left: 108px;
  }

  .subscribe-form {
    flex-direction: row;
    gap: 24px;
  }

  .subscribe-input {
    min-width: 264px;
  }

  .icon-subscribe-btn {
    transform: translateY(50%);
  }
}

@media screen and (min-width: 1158px) {
  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .footer-wrapper {
    display: flex;
    flex-direction: row;
  }

  .footer-inner {
    padding-left: initial;
    gap: initial;
    margin-bottom: initial;
  }

  .footer-suptitle {
    margin-bottom: initial;
  }
  .logo-footer-desc {
    flex-direction: column;
    min-width: 264px;
  }
  .footer-text {
    min-width: 264px;
    margin-top: 11px;
  }
  .footer-soc-media {
    margin-left: 120px;
  }
  .footer-media-list {
    gap: 16px;
  }

  .footer-link:hover {
    background-color: #31d0aa;
  }
  .subscribe {
    margin-left: 80px;
    padding-left: initial;
  }

  .subscribe-input {
    min-width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background: transparent;
    outline: none;
    padding: 8px 16px;
    color: #ffffff;

    &::placeholder {
      font-size: 12px;
      line-height: 2;
      /* display: flex;
        align-items: center; */
      letter-spacing: 0.04em;
      color: #ffffff;
    }
  }

  .subscribe-btn {
    min-width: 165px;
    height: 40px;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 8px 24px;
    transition: background-color var(--transition-hover-focus);

    &:is(:hover, :focus) {
      background-color: #404bbf;
    }

    & span {
      fill: #ffffff;
    }
  }

  .icon-subscribe-btn {
    position: absolute;
    right: auto;
    bottom: 50%;
    transform: translateY(50%);
  }
}
