.hero {
  height: 432px;
  max-width: 428px;
  margin: 0 auto;
  background-color: var(--background-hero);
  background-image: var(--background-hero-gradient),
    url("/images/hero-bg-table.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 112px;
  padding-bottom: 112px;
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: var(--background-hero-gradient),
      url("/images/hero-bg-table-2x.jpg");
  }
}

.main-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  color: #ffffff;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
}

@media screen and (max-width: 427px) {
  .main-title {
    font-size: 28px;
  }
  .hero {
    background-image: var(--background-hero-gradient),
      url(/images/hero-bg-mobile.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: var(--background-hero-gradient),
        url(/images/hero-bg-mobile-2x.jpg);
    }
  }
}

@media screen and (min-width: 768px) {
  .hero {
    height: 436px;
    max-width: 768px;
    background-image: var(--background-hero-gradient),
      url(/images/hero-bg-desktop.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: var(--background-hero-gradient),
        url(/images/hero-bg-desktop-2x.jpg);
    }
  }
  .main-title {
    font-size: 56px;
    margin-bottom: 36px;
    max-width: 496px;
  }
}

@media screen and (min-width: 1158px) {
  .hero {
    height: 600px;
    max-width: 1400px;
    padding-top: 188px;
    padding-bottom: 188px;
  }

  .main-title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    margin-bottom: 48px;
  }
}
