.button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  border: none;
  cursor: pointer;
  background: #4d5ae5;
  display: block;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 16px 32px;
  margin: 0 auto;
  transition: background-color var(--transition-hover-focus);

  &:is(:hover, :focus) {
    background-color: #404bbf;
  }
}
